* {
	margin: 0;
	padding: 0;
	font-style: "Arial" normal;
	color: navy;
	background-color: yellow;	
}

h1 {
	text-align: center;
}

div {
	margin-bottom: 30px;
	display: ;
}
main {
	float: right;
	text-align: right;
}

.right {
	float: right;
	margin-left: 20px;
}

img.first {
	border: 1px solid #000;
	height: 90px;
	width: 120px;
}

img.second {
	border: 2px solid #000;
	height: 120px;
	width: 160px;
}

img.three {
	border: 3px solid #000;
	height: 150px;
	width: 200px;
}

p.first {
	text-align: bottom;
}
p.second {
	text-align: middle;
}
p.three {
	text-align: top;
}

* {
	margin: 0;
	padding: 0;
}

.right {
	float: right;
}

div {
	margin: 0 0 30px 0;
	display: table;
}